<!DOCTYPE html>
<section>
  <!-- Tabs -->
  <ul class="nav nav-pills">
    <li ng-class="{active:panels.isSelected(1)}">
      <a href ng-click="panels.setSelectedTab(1)">Description</a>
    </li>
    <li ng-class="{active:panels.isSelected(2)}">
      <a href ng-click="panels.setSelectedTab(2)">Specifications</a>
    </li>
    <li ng-class="{active:panels.isSelected(3)}">
      <a href ng-click="panels.setSelectedTab(3)">Reviews</a>
    </li>
  </ul>

  <product-description></product-description>

  <product-specifications></product-specifications>

  <product-reviews></product-reviews>
</section>
